@media (prefers-color-scheme: light) {
    :root {
        --v-bookmark-container-color: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --v-bookmark-container-color: #232323;
    }
}
/* 合并 CSS 文件可以减少 HTTP 请求的数量，但大小会增大 */

/* 对话框样式 */
.dialog {
    /* 以下四行实现完全居中 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border: 0;
    border-radius: 8px;
    /* 水平偏移，垂直偏移，模糊距离，阴影颜色，添加多个阴影，可以使用逗号分隔 */
    box-shadow: 0 0 3px #808080;
    background-color: var(--v-bookmark-container-color);
    /* 首页 js 中禁用 0.5s 点击, 避免打断动画 (可优化) */
    animation: dialog 0.3s;
    transition: opacity 0.4s ease, transform 0.4s;
    /* 动画效果：0.5 秒内淡出 */
    /* linear--匀速, ease--快-慢-快, ease-in--慢-快, ease-out--快-慢, ease-in-out--慢-快-慢 */
    opacity: 1;
    /* 初始状态为不透明 */
}

@keyframes dialog {
    from {
        transform: translate(-50%, -40%) scale(0.8);
    }

    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

.dialog.closing {
    /* 在关闭时添加 closing 类 */
    opacity: 0;
    /* 关闭时设置为透明 */
    transform: translate(-50%, -40%) scale(0.75);
}

/* 对话框头部样式 */
.dialog-header {
    padding: 15px;
    /* 模糊线条效果 */
    box-shadow: 0 -1px 5px -1px #808080;
    /* background-color: #f8f8f8; */
}

/* 对话框内容样式 */
.dialog-content {
    padding: 15px;
    margin: 10% auto 0;
}

/* 对话框底部样式 */
/* 
.dialog-footer {
    border-top: 1px solid #ccc;
    /* text-align: center;
}
*/

/* 遮罩/蒙版样式 */
/*
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: none;
}
 */


dialog::backdrop {
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    transition-duration: 0.2s;
    animation: backdrop 0.5s;
    transition: opacity 0.5s;
}

@keyframes backdrop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

dialog.dialog.closing::backdrop {
    opacity: 0;
}

#dialog-box_container {
    text-align: left;
    margin: 0 auto 5%;
    width: 90% !important;
    display: flex;
    flex-wrap: wrap;
    /* background: rgba(131, 175, 155, 0.4); */
}

.dialog-box {
    /* 每个 div 之间有缩进，占一个空格 */
    flex-basis: 25%;
    text-align: center;
    margin: 0 auto 6%;
    position: relative;
    /* background: rgba(131, 175, 155, 0.6); */
}
.dialog-box a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 46px;
    height: 100%;
    /* background-color: rgba(0, 255, 255, 0.5); */
}

.dialog-title {
    border-radius: 8px;
    width: 46px;
    line-height: 46px;
    height: 46px;
    margin: auto;
    box-shadow: 0 0 18px rgba(70, 70, 40, 0.255);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .100);
}

.dialog-url {
    margin: 2px auto;
    width: 48px;
    height: 20px;
    line-height: 20px;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: clip;
    font-size: 10px;
}

/* 
#close-button {
    padding: 16px;
}
 */

button {
    /* background-color: blue; */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* 
button:hover {
    background-color: darkblue;
}
 */
button:active {
    background-color: lightblue;
}