* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --m-font-size: 14px;
    --tap-highlight-color: 14px;
}

html {
    height: 100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
}

body {
    min-height: 100%;
    max-width: 100%;
    width: 600px;
    margin: auto;
    text-align: center;
}

/*@media (prefers-color-scheme: light) {
    body {   
        
    }}
@media (prefers-color-scheme: dark) {
    body {   
        
    }}
*/
#gesture-indicator {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    word-break: break-all
}

.header-layout {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 36.5%;
}

#header {
    width: 90%;
    margin: 16px auto;
    height: 220px;
    object-fit: cover;
    object-position: top;
    pointer-events: none;
    border-radius: 8px;
    /* 阴影效果 */
    box-shadow: 0 0 18px rgba(70, 70, 40, 0.51);
    transition-duration: 0.2s;
    animation: header 2s;
}

@keyframes header {
    0% {
        max-width: 0;
        max-height: 0;
    }

    100% {
        max-width: 90%;
        max-height: 220px;
    }
}

#content {
    position: absolute;
    max-width: 600px;
    width: 100%;
    top: 200px !important;
    transition: 0.14s;
}

@media only screen and (min-height:250px) {
    #content {
        top: 62px
    }
}

@media only screen and (min-height:350px) {
    #content {
        top: 87px
    }
}

@media only screen and (min-height:450px) {
    #content {
        top: 135px
    }
}

@media only screen and (min-height:650px) {
    #content {
        top: 195px
    }
}

@media only screen and (min-height:850px) {
    #content {
        top: 255px
    }
}

.logo {
    font-size: 28px;
    font-weight: bold;
    white-space: normal;
    word-wrap: break-word;
    overflow: auto;
    text-decoration: none;
    color: #FAFAFA;
}

img.smaller {
    height: 72px;
    border-radius: 0;
    object-fit: cover;
}

.search_part {
    margin-bottom: 0;
}

.search_bar {
    display: table;
    vertical-align: middle;
    width: 85%;
    max-width: 600px;
    margin: 10% auto;
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    /* 模糊效果 */
    backdrop-filter: blur(10px);
    /* 阴影效果 */
    box-shadow: 0 0 18px rgba(70, 70, 40, 0.255);
    transition-duration: 0.2s;
    animation: search-bar 1s;
}

/* 搜索框的动画 */
@keyframes search-bar {
    0% {
        max-width: 100px;
    }

    100% {
        max-width: 500px;
    }
}

/* 放大镜底层 */
#search_submit {
    display: none;
    outline: none;
    height: 46px;
    width: 39px;
    float: right;
    font-size: 15px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    padding: 0 10px;
}

.search.icon {
    width: 12px;
    height: 12px;
    border: solid 2px currentColor;
    border-radius: 100%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* 逆时针旋转45度 */
    text-align: center;
    margin: auto;
}

.search.icon:before {
    content: '';
    position: absolute;
    /* 关键 */
    top: 10px;
    left: 3px;
    height: 5px;
    width: 2px;
    background-color: currentColor;
}

/* input */
span {
    display: block;
    overflow: hidden;
}

#search_input {
    height: 46px;
    padding: 0 12px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 15px;
    background-color: transparent;
}

/* 用于设置搜索时的词条联想框 */
.bdSug_wpr {
    overflow-y: scroll !important;
    max-height: 30% !important;
    backdrop-filter: blur(10px);
    border: 0 solid !important;
    border-color: rgba(255, 255, 255, 0.2) !important;
    border-radius: 0 0 15px 15px;
    border-top: 13px solid transparent !important;
    transform: translate(-21.45%, 0%);
    width: 80% !important;
}

/* 搜索词条联想框列表 */
.bdSug_wpr table {
    background: none !important;
}

.bdSug_wpr td {
    margin: 4px !important;
    padding: 10px !important;
    color: #FAFAFA;
    background: none;
}

.bdSug_sd {
    height: 0px !important;
}

.bdSug_app {
    display: none !important;
}

/* 书签部分 */
#bookmark_part {
    text-align: center;
    max-width: 600px;
    margin: 20% auto 10%;
    padding: 0;
    /* background: rgba(131, 175, 155, 0.2) */
}

/* 收纳所有收藏卡片的容器 */
#box_container {
    text-align: left;
    margin: 0 auto 5%;
    width: 80% !important;
    transition-duration: 0.4s;
    animation: box-container 1s;
    /* background: rgba(131, 175, 155, 0.4); */
}

.box_layout {
    /* 每个 div 之间有缩进，占一个空格 */
    width: 23.5%;
    /* 行内显示 */
    display: inline-block;
    text-align: center;
    /* background: rgba(131, 175, 155, 0.6); */
}

.box {
    width: 46px;
    margin: 0 auto;
    position: relative;
    /* background: rgba(131, 175, 155, 0.8); */
}

/* 设置卡片链接 */
.box a {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

/* 设置卡片图片 */
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0;
    width: 46px;
    height: 46px;
    transition-duration: 0.2s;
    animation: overlay 1s;
}

@keyframes overlay {
    0% {
        background-size: 0%;
    }

    80% {
        background-size: 75%;
    }
}

/* 文字卡片 */
.title {
    border-radius: 8px;
    color: #FAFAFA;
    width: 46px;
    line-height: 46px;
    height: 46px;
    box-shadow: 0 0 18px rgba(70, 70, 40, 0.255);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .100);

}

/* 设置卡片的名称 */
.url {
    margin: 2px auto;
    width: 46px;
    height: 20px;
    line-height: 20px;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: clip;
    -o-text-overflow: clip;
    font-size: 10px;
    transition-duration: 0.2s;
    animation: divide 1s;
}

.divide {
    text-align: center;
    color: #7C95A2;
    font-size: 20px;
    transition-duration: 0.2s;
    animation: divide 1s;
}

#hitokoto {
    font-size: var(--m-font-size);
    text-align: center;
    margin-bottom: 5%;
    transition-duration: 0.2s;
    animation: divide 1s;
    color: var(--tap-highlight-color);
}

@keyframes divide {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* 自适应 box_container */
@media only screen and (min-width:128px) {
    #box_container {
        width: 64px
    }
}

@media only screen and (min-width:192px) {
    #box_container {
        width: 128px
    }
}

@media only screen and (min-width:256px) {
    #box_container {
        width: 192px
    }
}

@media only screen and (min-width:320px) {
    #box_container {
        width: 256px
    }
}

@media only screen and (min-width:384px) {
    #box_container {
        width: 320px
    }
}

@media only screen and (min-width:448px) {
    #box_container {
        width: 384px
    }
}

@media only screen and (min-width:512px) {
    #box_container {
        width: 448px
    }
}

@media only screen and (min-width:576px) {
    #box_container {
        width: 512px
    }
}